.mail-box-header
  div.pull-right.mail-search(method='get' action='index.html')
    .input-group
      input.form-control.input-sm(type='text' name='search' placeholder='Search project' ng-model='search.title')
  h2 Projects ({{plc.items.length}})
  .mail-tools.tooltip-demo.m-t-md
    .input-group
      button.btn.btn-white.btn-sm(ng-click='plc.list()')
        i.fa.fa-refresh  Refresh
      button.btn.btn-white.btn-sm(ng-click='plc.add()') Add Project
.mail-box
  table.table.table-hover.table-mail
    tbody
      tr.read(ng-repeat='item in plc.items track by item._id| filter:search')
        td
          span(ng-bind='item.title' editable-text="item.title" e-name="title" e-form="projectForm" ng-show='!projectForm.$visible')
          div.editable-error.help-block.ng-binding.ng-hide(ng-show="projectForm.$error.length" ng-bind="projectForm.$error")
        td
          tags-input(
            ng-model='item._users'
            display-property='login'
            replace-spaces-with-dashes='false'
            add-from-autocomplete-only='true'
            on-tag-added='plc.tagAdded($tag, item)'
            on-tag-removed='plc.tagRemoved($tag, item)')
            auto-complete(
              source='plc.findUsers($query)'
              min-length='1'
              debounce-delay='0'
              max-results-to-show='10')
        td.text-right.mail-date(am-time-ago='item.created')
        td.text-right(style='width: 200px')
          form.form-buttons.form-inline(name='projectForm' editable-form='' onbeforesave='plc.save($data, item._id, projectForm)' ng-show='projectForm.$visible' shown='plc.inserted == item')
            button.btn.btn-primary(type='submit' ng-disabled='projectForm.$waiting') Save
            button.btn.btn-white(type='button' ng-disabled='projectForm.$waiting' ng-click='projectForm.$cancel()') Cancel
          .buttons(ng-show='!projectForm.$visible')
            button.btn.btn-white.btn-sm(ng-click='projectForm.$show()')
              i.fa.fa-pencil
            button.btn.btn-white.btn-sm(ng-click='plc.destroy(item)')
              i.fa.fa-trash
