.middle-box.text-center.loginscreen.animated.fadeInDown
  div
    div
      h1.logo-name SM+
    h3 Welcome to SM+
    p Perfectly designed and precisely prepared for hard work.
    p Login in. To see it in action.
    .alert.alert-danger.text-center(ng-show='al.isError' ng-bind='al.error')
    form.m-t(name='loginForm' novalidate=true ng-submit='al.submit(loginForm.$valid)')
      .form-group
        input.form-control(type='text' name="username" placeholder="Username" required=true ng-model="al.data.username")
      .form-group
        input.form-control(type='password' placeholder='Password' required=true ng-model="al.data.password")
      button.btn.btn-primary.block.full-width.m-b(type='submit' ng-disabled="loginForm.$invalid") Login
    p.m-t
      small StubMail is based on Bootstrap 3 &copy; 2015
