.mail-box-header
  div.pull-right.mail-search(method='get' action='index.html')
    .input-group
      input.form-control.input-sm(type='text' name='search' placeholder='Search email' ng-model='search.subject')
  h2 {{::mlc.type}} ({{mlc.items.length}})
  .mail-tools.tooltip-demo.m-t-md
    .input-group
      .input-group-addon
        input(type='checkbox' ng-model='mlc.checkAll' ng-click='mlc.toggleAll()')
      button.btn.btn-white.btn-sm(ng-click='mlc.list()')
        i.fa.fa-refresh  Refresh
      button.btn.btn-white.btn-sm(ng-click='mlc.toggleOwner()', ng-class='{active: mlc.isOwner}')
        i.fa.fa-user  Only My
      button.btn.btn-white.btn-sm(ng-click='mlc.markRead()')
        i.fa.fa-eye
      button.btn.btn-white.btn-sm
        i.fa.fa-exclamation
      button.btn.btn-white.btn-sm(ng-click='mlc.remove()')
        i.fa.fa-trash-o
.mail-box
  pre(ng-bind='mlc.isOwner')
  table.table.table-hover.table-mail
    tbody
      tr(ng-repeat='(key, item) in mlc.items | filter:search | filter: (mlc.isOwner ? mlc.currentUser : undefined)' ng-class='{read: item.isRead, unread: !item.isRead}')
        td.check-mail
          input.i-checks(type='checkbox' data-checklist-model='mlc.checked' ng-model='item.isSelected' data-checklist-value="item")
        td
          a.badge(style='color: #fff; background-color: {{item._project.color}}' ng-bind='item._project.title' ui-sref='app.mailbox.inbox({project: item._project._id})')
        td
          a.badge(ng-bind='item._user.login')
        td.mail-ontact
          a(ui-sref='app.mailbox.message({id: item._id})') {{item.from[0].name || item.from[0].address}}
        td.mail-subject
          a(ui-sref='app.mailbox.message({id: item._id})' ng-bind='::item.subject')
        td
          i.fa.fa-paperclip(ng-if='item.attachments.length')
        td.text-right.mail-date(am-time-ago='item.created')
