.mail-box-header(ng-init='mdc.isSource=false; mdc.isHeaders=false')
  .pull-right.tooltip-demo
    button.btn.btn-white.btn-sm(ng-click='mdc.isSource=!mdc.isSource;' ng-class='{active: mdc.isSource}') Source
    button.btn.btn-white.btn-sm(ng-click='mdc.isHeaders=!mdc.isHeaders' ng-class='{active: mdc.isHeaders}') Headers
    button.btn.btn-white.btn-sm(ng-click='mdc.remove(mdc.item)')
      i.fa.fa-trash-o
  h2 View Message
  .mail-tools.tooltip-demo.m-t-md
    h3
      span.font-noraml(ng-bind='::mdc.item.subject')
    h5
      span.pull-right.font-noraml(ng-bind='::mdc.item.created| date: "HH:m dd MMM y"')
      span.font-noraml From: {{::mdc.item.from[0].name}} <{{::mdc.item.from[0].address}}>
.mail-box
  .mail-body(ng-show='mdc.isHeaders')
    p.font-noraml(ng-repeat='(key, value) in mdc.item.headers track by key')
      strong {{key}}:
      | &nbsp;{{value}}
  .mail-body(ng-show='mdc.isSource')
    p(style='white-space: pre-wrap' ng-bind='::mdc.item.source')
  .mail-body
    p(style='all:initial' ng-bind-html='::mdc.item.html')
  .mail-attachment
    p
      span
        i.fa.fa-paperclip  {{::mdc.item.attachments.length}} attachments
    .attachment
      .file-box(ng-repeat='attachment in mdc.item.attachments')
        .file
          a(href='/attachments/{{mdc.item._id}}/{{attachment.generatedFileName}}')
            span.corner
            .icon
              i.fa.fa-file
            .file-name
              | {{::attachment.generatedFileName}}
              br
              small Added: Jan 11, 2014
      //.file-box
      //  .file
      //    a(href='mail_detail.html#')
      //      span.corner
      //      .image
      //        img.img-responsive(alt='image', src=require('../img/p1.jpg'))
      //      .file-name
      //        | Italy street.jpg
      //        br
      //        small Added: Jan 6, 2014
      //.file-box
      //  .file
      //    a(href='mail_detail.html#')
      //      span.corner
      //      .image
      //        img.img-responsive(alt='image', src=require('../img/p2.jpg'))
      //      .file-name
      //        | My feel.png
      //        br
      //        small Added: Jan 7, 2014
      .clearfix
  .mail-body.text-right.tooltip-demo
    button.btn.btn-sm.btn-white(title='', data-placement='top', data-toggle='tooltip', type='button', data-original-title='Print')
      i.fa.fa-print
      |  Print
    button.btn.btn-sm.btn-white(title='', data-placement='top', data-toggle='tooltip', data-original-title='Trash')
      i.fa.fa-trash-o
      |  Remove
  .clearfix
