#page-wrapper.gray-bg
  header
  .wrapper.wrapper-content
    .row
      .col-lg-3
        .ibox.float-e-margins
          .ibox-content.mailbox-content
            .file-manager
              //a.btn.btn-block.btn-primary.compose-mail(href='mail_compose.html') Compose Mail
              //.space-25
              h5 Folders
              ul.folder-list.m-b-md(style='padding: 0')
                li
                  a(ui-sref='app.mailbox.inbox({project: null})')
                    i.fa.fa-inbox
                    | Inbox
                    //span.label.label-warning.pull-right 16
                li
                  a(ui-sref='app.mailbox.trash')
                    i.fa.fa-trash-o
                    | Trash
              h5 Projects
              ul.category-list(style='padding: 0')
                li(ng-repeat='item in mpc.items')
                  a(ui-sref='app.mailbox.inbox({project: item._id})')
                    i.fa.fa-circle(style='color: {{item.color}}')
                    | {{item.title}}
              h5(ng-if='user.role === "admin"') Admin
              ul.category-list(style='padding: 0' ng-if='user.role === "admin"')
                li
                  a(ui-sref='app.mailbox.users')
                    i.fa.fa-user
                    | Users
                li
                  a(ui-sref='app.mailbox.projects')
                    i.fa.fa-database
                    | Projects
              .clearfix
      .col-lg-9.animated.fadeInRight
        div(ui-view='')
  footer
