.row.border-bottom
  nav.navbar.navbar-static-top.white-bg.m-b-none
    ul.nav.navbar-top-links.navbar-right
      li
        span.m-l-sm.text-muted.welcome-message Welcome to StubMail.
      li
        auth-logout
