.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  &.fixed,
  &.fixed_full {
    position: fixed;
    z-index: 1000;
  }
}
