<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{%= o.htmlWebpackPlugin.options.title %}</title>
</head>

<body ng-app="app" class="gray-bg" ng-strict-di ui-view></body></html>
