.box {
  @include margin(0 0 20px 0);
  color: $box-color;

  &__header,
  &__container {
    @include padding(30px 20px 20px 20px);
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__list {
    @include margin(0 0 12px 0);
  }

  &__item {
    border-bottom: $base-border;

    > a {
      @include padding(5px 0);
      color: #666666;
      display: block;

      > i {
        @include margin(0 8px 0 0);
        color: #3d4d5d;
      }
    }
  }
}
