#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: $base-border;
  border-radius: $base-border-radius;
  color: darken($medium-gray, 20%);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    @include border-style(solid);
    @include border-width(1px);
    @include border-color($medium-gray);
    @include background($white);
    color: darken($medium-gray, 20%);
  }

  //&:disabled {
  //  cursor: not-allowed;
  //  opacity: 0.5;
  //
  //  &:hover {
  //    background-color: $action-color;
  //  }
  //}
}
