.box {

  &_mailbox {
    @include background($white);
    border: $base-border;
    color: $dark-gray;

    a {
      color: $dark-gray;
    }

    .unread {
      background-color: $light-gray;
    }

    .box__title {
      font-size: 24px;
      font-weight: 100;
      text-transform: none;
    }

    .box__header {
      border-bottom: $base-border;
    }
  }
}
