$base-font-family: 'open sans', $helvetica;
$heading-font-family: $base-font-family;

$white:       #fff;
$gray:        #e7eaec;
$light-gray:  #f3f3f4;
$medium-gray: #999c9e;
$dark-gray:   #676a6c;

$action-color: $white;

// Font Colors
$base-font-color: $medium-gray;

// Line height
//$base-line-height: 1.5;
//$heading-line-height: 1.2;

// Other Sizes
//$base-border-radius: 3px;
$base-spacing: $base-line-height * 0.9em;
$small-spacing: $base-spacing / 2;
//$base-z-index: 0;

// Body
$body-bg: $light-gray;

// Navbar
$navbar-bg-color: $white;
$navbar-color:    $base-font-color;

// Box
$box-color: $dark-gray;
